.bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.head{
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: bold;
    color: rgb(0, 0, 255);
}
.input-card{
    margin-bottom: 10px;
}
.label-element{
    margin-bottom: 10px;
}
.input-element{
    height: 30px;
    margin-bottom: 10px;
}
.button-caliculator{
    padding: 7px 13px;
    border: none;
    color: #ffffff;
    background-color: blue;
    border-radius: 4px;

}
p{
    color: red;
}